body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;
    color: black;
    text-align: left;
}

header {
    background-color: #333;
    background-image: url(Tea.png);
    background-size: cover;
    color: white;
    padding: 20% 0;
    text-align: center;
    vertical-align: top;
}

hr{
    background-color: black;
    height: 2px;
    border: none;
}

.main_page{
    background-color: rgba(208,240,192, 1);
    color: #463333;
    padding: 20px;
    padding-left: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.alt_main_page{
    background-color: #463333;
    color: wheat;
    padding: 20px;
    padding-left: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

main{
    background-color: rgba(76, 18, 8, 0.6);
}

footer {
    background-color: #8A2B2B;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    
}

a{
    color: wheat;
}